.btn-style button{
    background-color: rgb(48, 45, 45);
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 700;
}
.btn-style button:hover{
    background-color: white;
    color: rgb(48, 45, 45);
    border: 1px solid black;
}
.nav-area img{
    height:40px;
    margin-right: 8px;
    border:3px solid white;
    border-radius: 100px;
}