.icon-color{
    color: rgb(143, 143, 53);
}

.style-add{
    margin: 30px;
}
.text-modify{
    margin-left: 40%;
    margin-top: 20%;
    background-color: rgba(135, 207, 235, 0.61);
    width: 45%;
    font-weight: 800;
    color: black;
    padding: 20px;
    border-radius: 20px;
    
}
@media screen and (min-width:100px){
    .style-add img{
        height: 500px;
        width: 900px;
        margin-right: 50px;
    }
}
